@import "tailwindcss";

label {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

input,
textarea {
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
}
button{
    background-color: skyblue;
    padding: 5px;
    margin-top: 10px;   
    border-radius: 6px;
    color: white;
    font-size: bold;

}